*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.047);
  padding: 1rem;
}

nav .logo img {
  max-width: 50px;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid #c4784c00;
}

nav ul li a:hover {
  color: #ea6112;
  border-bottom: 1px solid #ea6112;
}
